<div (click)="ocultarmensaje()">
  <section class="intro">
    <div class="container mb-5 text-center" style="margin-top: 60px">
      <h1
        style="
          font-size: 60px;
          font-family: lucida sans;
          color: rgb(42, 90, 181);
        "
      >
        Evaluaciones de Equipos
      </h1>
    </div>
    <div class="container text-center">
      <button
        class="btn btn-outline-primary btn-lg"
        (click)="nuevaevaluacion()"
      >
        <i class="bi bi-file-earmark-plus-fill" style="margin-right: 5px"></i>
        Registrar nueva evaluacion
      </button>
    </div>
  </section>
  <br />
  <div class="container" *ngIf="mostrarFormulario" style="margin-top: 30px">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-3 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-4 d-none d-md-block">
              <img
                src=".\assets\img\Evaluacion-f.png"
                alt="Evaluacion form"
                class="img-fluid"
                style="
                  border-top-left-radius: 1rem;
                  border-bottom-left-radius: 1rem;
                "
              />
            </div>
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body py-5 px-4 p-md-5">
                <form>
                  <h4 class="fw-bold mb-4" style="color: #5c8ad5">
                    Registrar Evaluacion
                  </h4>

                  <div class="form-outline mb-2">
                    <input
                      type="text"
                      class="form-control"
                      [formControl]="imeiControl"
                      placeholder="Ingrese el imei a evaluar"
                    />
                    <label class="form-label" for="imei">Imei</label>
                  </div>

                  <div
                    class="d-flex justify-content-end pt-1 mb-2"
                    style="margin-top: 20px"
                  >
                    <button
                      class="btn btn-primary btn-rounded"
                      type="submit"
                      style="margin-right: 20px"
                      (click)="evaluarEquipo()"
                    >
                      Registrar
                    </button>
                    <button
                      type="submit"
                      class="btn btn-danger"
                      style="margin-right: 20px"
                      (click)="ocultarFormulario()"
                    >
                      Cancelar
                    </button>
                  </div>
                  <hr />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div
    *ngIf="mensaje"
    class="alerta"
    [ngClass]="{ 'alerta-exito': mensajeExito, 'alerta-error': mensajeError }"
  >
    {{ mensaje }}
  </div>
  <br />

  <div class="container" *ngIf="mostrarFormularioRechazo">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-3 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-4 d-none d-md-block">
              <img
                src=".\assets\img\Rechazo-form.png"
                alt="Evaluacion form"
                class="img-fluid"
                style="
                  border-top-left-radius: 1rem;
                  border-bottom-left-radius: 1rem;
                "
              />
            </div>
            <div class="col-md-8 d-flex align-items-center">
              <div class="card-body py-5 px-4 p-md-5">
                <form>
                  <h4 class="fw-bold mb-4" style="color: #5c8ad5">
                    Registrar Motivo de Rechazo
                  </h4>

                  <div class="form-outline mb-2">
                    <textarea
                      class="form-control"
                      [(ngModel)]="comentarioRechazo"
                      name="comentarioRechazo"
                    ></textarea>
                    <label class="form-label" for="comment">Comentario</label>
                  </div>

                  <div
                    class="d-flex justify-content-end pt-1 mb-2"
                    style="margin-top: 20px"
                  >
                    <button
                      type="submit"
                      class="btn btn-primary btn-rounded btn-block"
                      (click)="rechazarSolicitud()"
                      style="margin-right: 20px"
                    >
                      Registrar
                    </button>
                    <button
                      type="submit"
                      class="btn btn-danger btn-rounded btn-block"
                      style="margin-left: 15px"
                      (click)="cancelarRechazo()"
                      style="margin-right: 20px"
                    >
                      Cancelar
                    </button>
                  </div>
                  <hr />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div *ngIf="solicitud">
    <section class="intro">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div
                class="table-responsive bg-white"
                data-mdb-perfect-scrollbar="true"
                style="position: relative; height: 445px"
              >
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Estado de solicitud</th>
                      <th scope="col">N° de Ticket</th>
                      <th scope="col">Fecha de creacion</th>
                      <th scope="col">Fecha de actualizacion</th>
                      <th scope="col">Fecha de ticket</th>
                      <th scope="col">Imei en Revision</th>
                      <th scope="col">Comentario</th>
                      <th scope="col" class="text-center">Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ solicitud.id }}</td>
                      <td>{{ solicitud.state }}</td>
                      <td>{{ solicitud.ticket }}</td>
                      <td>{{ solicitud.createdDate }}</td>
                      <td>{{ solicitud.updateDate }}</td>
                      <td>{{ solicitud.ticketDate }}</td>
                      <td>{{ solicitud.imeiInRevision }}</td>
                      <td>{{ solicitud.comment }}</td>
                      <div>
                        <td>
                          <button
                            class="btn btn-outline-success"
                            (click)="aprobarSolicitud()"
                            [disabled]="!botonesHabilitados"
                          >
                            Aprobar
                          </button>
                          <button
                            class="btn btn-outline-danger"
                            (click)="mostrarFormularioRechazo = true"
                            [disabled]="!botonesHabilitados"
                          >
                            Rechazar
                          </button>
                        </td>
                      </div>
                      <br />
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br /><br />
  </div>
</div>
