<nav
  class="navbar navbar-light navbar-expand-lg"
  style="background-color: #fcfcfc"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/test"
      ><img src="./assets/img/Logo-Transparente.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/ticket"
            >Generar Tickets</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" (click)="cerrarseion()">
          <i class="bi bi-box-arrow-in-left" style="margin-right: 5px;"></i>Cerrar sesión
        </button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<router-outlet></router-outlet>
